<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zxpay.chaiyilora">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_08x"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityDetails" />
        <activity android:name=".MainAdvanceIndoorQuery" />
        <activity android:name=".MainAdvanceOutdoorQuery" />
        <activity android:name=".MainActivityPlotData" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeQueyActivity" />
        <activity android:name=".IndoorActivity" />
        <activity android:name=".OutdoorActivity"></activity>
    </application>

</manifest>